#canvas-wrap{
  display: flex;
  flex-direction: row;
}
#canvas{
  border: 2px solid red;
  border-radius: 6px;
  z-index: -1;
  /* position: absolute; */
}
#canvas2{
  border: 2px solid blue;
  border-radius: 6px;
  z-index: -1;
  /* position: absolute; */
}
#canvas3{
  border: 2px solid blue;
  border-radius: 6px;
  z-index: -1;
  /* position: absolute; */
}

.cover{
  background: black;
  width: 220px;
  height: 300px;
  margin: 2px;
  z-index: 9999;
}
#top{
  margin-top: -200px;
  /* z-index: 9999; */
}
#canvases{
  /* display: flex;
  flex-direction: row; */
}
