#canvas{
  border: 2px solid red;
  border-radius: 6px;
  z-index: -1;
  position: absolute;
}

.cover{
  background: black;
  width: 420px;
  height: 300px;
  margin: 200px;
  z-index: 9999;
}
#top-cover{
  margin-top: 0px;
  z-index: 9999;
}
